.card {
  margin-right: 20px;
  overflow: auto;
  max-width: 500px;
  padding: 16px;
  border: 2px solid transparent;
  border-image: linear-gradient(
    to bottom right,
    #b827fc 0%,
    #2c90fc 25%,
    #b8fd33 50%,
    #fec837 75%,
    #fd1892 100%
  );
  border-image-slice: 1;
}
